# Ignore dataset images and labels
dataset/images/
dataset/labels/

plate_labels
vehicle_images

# Optional: ignore temporary or augmented images
dataset/images/augmented/
dataset/labels/augmented/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
